<h2>Certificate Disclaimer</h2>
<p>This is to certify that OOX LIMITED has successfully undergone a penetration test conducted by Starship Shield. The purpose of this test was to assess the security posture of the specified systems and applications as of the testing date.<p>
<p><b>Please note the following:</b></p>
<p><b>1. Validity Period:</b> This certificate is valid only for the specific testing environment at the time of the assessment. Any changes made to the systems, applications, infrastructure, or configurations after the testing date can affect the security posture. It is recommended to conduct regular security assessments to maintain an up-to-date understanding of the security landscape.</p>
<p><b>2. Limited Scope:</b> The penetration test was conducted based on the scope and objectives defined in the engagement agreement. Any changes or additions to the scope, including new systems or applications, are not covered by this certificate.</p>
<p><b>3. No Guarantees:</b> While every effort was made to identify and address security vulnerabilities during the testing, it is impossible to guarantee the absence of all vulnerabilities. Security is an ongoing process, and new vulnerabilities can emerge over time.</p>
<p><b>4. Responsibility:</b> The OOX LIMITED is responsible for implementing the recommended security measures and addressing identified vulnerabilities. This certificate does not relieve the OOX LIMITED of this responsibility.</p>

By accepting this certificate, the OOX LIMITED acknowledges that the security posture is subject to change and that regular security assessments are essential for maintaining an effective security strategy.